# Veja https://help.github.com/articles/ignoring-files/ para mais informações sobre ignorar arquivos.

# Dependências
node_modules

# Next.JS
.next

# Produção
build

# Arquivos
package-lock.json
.env

# MISC
.DS_Store
